<!DOCTYPE html>
<html>
<head>
  <title>Henrys</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="http://code.jquery.com/jquery.js"></script>


  <!-- Bootstrap -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>

</head>
<body>
<h1>Hello, world!</h1>


<%= yield %>

</body>
</html>