<!DOCTYPE html>
<html>
<head>
  <title>Henrys</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="http://code.jquery.com/jquery.js"></script>


  <!-- Bootstrap -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="javascripts/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>

</head>
<body>

<h1>Web App</h1>
<h4 class="web-app">Jobs.Digitalcompanies.com - Henrys Paper Prototype</h4>
<h4><a href="http://henry-92860.euw1-2.nitrousbox.com/">Home</a></h4>

<%= yield %>

</body>
</html>